@model FormularioAsistencia.ViewModels.VerMasSolicitudViewModel

@{
    ViewData["Title"] = "Solicitud";

}

<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">

        $(function () {

            var // Define maximum number of files.
                max_file_number = 3,
                // Define your form id or class or just tag.
                $form = $('form'),
                // Define your upload field class or id or tag.
                $file_upload = $('#archivos', $form),
                // Define your submit class or id or tag.
                $button = $('.submit', $form);

            // Disable submit button on page ready.
            $button.prop('disabled', 'disabled');

            $file_upload.on('change', function () {
                var number_of_images = $(this)[0].files.length;
                if (number_of_images > max_file_number) {
                    document.getElementById("spanArchivos").style.display = '';
                    $(this).val('');
                    $button.prop('disabled', 'disabled');
                } else {
                    document.getElementById("spanArchivos").style.display = 'none';
                    $button.prop('disabled', false);
                }
            });
        });

        function Lock() {

            var $form = $('form'), $foo = $('.form-control', $form);

            //document.getElementsByClassName('form-control');
            if (!(User.IsInRole("Administrativos") || User.IsInRole("Secretaría"))) {
                $foo.style.readOnly = true;
            }
        }
        $(document).ready(function () {
            var user = "@(User.IsInRole("Profesores") || User.IsInRole("Estudiante"))";
            //document.getElementsByClassName('form-control');
            if (user=="True") {
               var $form = $('form'), $foo = $('.form-control', $form);

                for (var i = 0; i < $foo.length; i++) {
                    //$foo[i].readOnly = "True";
                    $foo[i].disabled = "True";
                }
                var $foo2 = $('.form-check-input', $form)
                for (var i = 0; i < $foo2.length; i++) {
                    $foo2[i].disabled = "True";
                }
            }
            var cuenta = "@Model.Solicitud.CuentaBancaria";
            if (cuenta == "True") {
                var $cue = $('.cuenta', $form);
                $cue[0].style.display = "none";
            }
             var He = "@Model.Solicitud.TieneHE";
            if (He == "True") {
                var $he = $('.HE', $form);
                $he[0].style.display = "block";
            }
            var Ha = "@Model.Solicitud.TieneHA";
            if (Ha == "True") {
                var $ha = $('.HA', $form);
                $ha[0].style.display = "block";
            }

        });
    </script>
</head>
    <div class="container" id="solicitud">
        <h1>
            Formulario De solicitud de Asistencia 
            @if (User.IsInRole("Administrativos") || User.IsInRole("Secretaría"))
            {
                <a class=" open-delete btn btn-rol btn-eliminar" data-toggle="modal" data-target=".bootstrapmodal" style="position: relative; float: right; margin-top: 10px">Eliminar Solicitud</a>
            }
        </h1>
        <hr />
        <form enctype="multipart/form-data" method="post" onload="Lock();">

            <div class="col-md-12">
                <input type="hidden" asp-for="Solicitud.SolicitudId" />
                <input type="hidden" asp-for="Asistencia.IdAsistencia" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row" style="margin-top:2%">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Apellido1" class="control-label">Primer Apellido:</label>
                            <input asp-for="Solicitud.Apellido1" class="form-control" />
                            <span asp-validation-for="Solicitud.Apellido1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Apellido2" class="control-label">Segundo Apellido:</label>
                            <input asp-for="Solicitud.Apellido2" class="form-control" />
                            <span asp-validation-for="Solicitud.Apellido2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Nombre" class="control-label">Nombre:</label>
                            <input asp-for="Solicitud.Nombre" class="form-control" />
                            <span asp-validation-for="Solicitud.Nombre" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Cedula" class="control-label">Cédula N°:</label>
                            <input asp-for="Solicitud.Cedula" class="form-control" />
                            <span asp-validation-for="Solicitud.Cedula" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Carne" class="control-label">N° Carné:</label>
                            <input asp-for="Solicitud.Carne" class="form-control" />
                            <span asp-validation-for="Solicitud.Carne" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Telefono1" class="control-label"> Teléfono 1:</label>
                            <input asp-for="Solicitud.Telefono1" class="form-control" />
                            <span asp-validation-for="Solicitud.Telefono1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Telefono2" class="control-label"> Teléfono 2:</label>
                            <input asp-for="Solicitud.Telefono2" class="form-control" />
                            <span asp-validation-for="Solicitud.Telefono2" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Solicitud.CorreoSolicitante" class="control-label">Correo Electrónico:</label>
                            <input asp-for="Solicitud.CorreoSolicitante" class="form-control" />
                            <span asp-validation-for="Solicitud.CorreoSolicitante" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.CarreraQueCursa" class="control-label"> Carrera que cursa:</label>
                            <input asp-for="Solicitud.CarreraQueCursa" class="form-control" />
                            <span asp-validation-for="Solicitud.CarreraQueCursa" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="Solicitud.Nivel" class="control-label">Nivel en que se encuentra:</label>
                            <input asp-for="Solicitud.Nivel" class="form-control" />
                            <span asp-validation-for="Solicitud.Nivel" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="Solicitud.NumeroDeCreditos" class="control-label">Nº de créditos matriculados en el ciclo que solicita colaborar:</label>
                            <input asp-for="Solicitud.NumeroDeCreditos" class="form-control" />
                            <span asp-validation-for="Solicitud.NumeroDeCreditos" class="text-danger"></span>
                        </div>
                    </div>

                </div>


                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Solicitud.PromedioRevisado" class="control-label">Promedio Ponderado revisado total actual:</label>
                            <input asp-for="Solicitud.PromedioRevisado" class="form-control" />
                            <span asp-validation-for="Solicitud.PromedioRevisado" class="text-danger"></span>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="cuenta" asp-for="Solicitud.CuentaBancaria" /> Tiene cuenta bancaria activa en OAF?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="cuenta">
                            <div class="form-group">
                                <label asp-for="Solicitud.NumeroDeCuenta" class="control-label">Si no tiene cuenta en OAF, indique el N° de cuenta:</label>
                                <input asp-for="Solicitud.NumeroDeCuenta" class="form-control" />
                                <span asp-validation-for="Solicitud.NumeroDeCuenta" class="text-danger"></span>
                                <div class="form-group">
                                    <label asp-for="Solicitud.Banco" class="control-label">Corresponde al siguiente banco:</label>
                                    <select asp-for="Solicitud.Banco" class="form-control" >
                                        <option value="Banco Nacional">Banco Nacional</option>
                                        <option value="BCR">BCR</option>
                                        <option value="Popular">Popular</option>
                                    </select>
                                    <span asp-validation-for="Solicitud.Banco" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="archivos" class="control-label">
                            Archivos del estudiante(3)<br />
                            <h8 style="font-size: .8rem;">
                                Informe de matrícula<br />
                                Copia del expediente académico <br />
                                Copia de la cédula de identidad<br />
                            </h8>
                        </label>
                        <input multiple asp-for="archivos" class="form-control" id="archivos" type="file" />
                        <span asp-validation-for="archivos" class="text-danger" id="spanArchivos" style="display: none">No puede subir más de 3 archivos</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="HA" asp-for="Solicitud.TieneHA" /> Cuenta con horas <b>Asistente</b> en otra Unidad?
                            </label>
                        </div>
                        <div class="HA" style="display:none">
                            <div class="form-group">
                                <label asp-for="Solicitud.CantidadHA" class="control-label"> N° de horas asignadas:</label>
                                <input asp-for="Solicitud.CantidadHA" class="form-control" />
                                <span asp-validation-for="Solicitud.CantidadHA" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" value="HE" asp-for="Solicitud.TieneHE"/> Cuenta con horas <b>Estudiante</b> en otra Unidad?
                            </label>
                        </div>
                        <div class="HE" style="display:none">
                            <div class="form-group">
                                <label asp-for="Solicitud.CantidadHE" class="control-label">N° de horas asignadas:</label>
                                <input asp-for="Solicitud.CantidadHE" class="form-control" />
                                <span asp-validation-for="Solicitud.CantidadHE" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <center>
                    <div class="form-group">
                       
                        @if (User.IsInRole("Administrativos") || User.IsInRole("Secretaría"))
                        {
                            <input type="submit" value="Actualizar" class="btn btn-rol" style="width:50%;margin-bottom:10px" />
                        }
                        <br />
                    <a class="btn btn-rol" asp-route-id=@Model.Asistencia.IdAsistencia asp-action="VerLista" asp-controller="solicitud" asp-route-semestre="@Model.Solicitud.Semestre"asp-route-id_asistencia="@Model.Asistencia.IdAsistencia" style="width:50%;">Volver</a>
                        
                    </div>
                </center>
            </div>

        </form>
        <script>

        </script>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type="checkbox"]').click(function () {
                var inputValue = $(this).attr("value");
                $("." + inputValue).val('');
                $("." + inputValue).toggle();
            });
        });
    </script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<div class="modal fade bootstrapmodal" id="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-eliminar">
                <div class="modal-title"><h2><i class="fa fa-exclamation-triangle " aria-hidden="true"></i>  Eliminar Solicitud</h2></div>
                <button data-dismiss="modal" class="close"><span>&times</span></button>

            </div>
            <div class="modal-body modal-conteliminar">
                <h3>Está seguro que desea eliminar esta solicitud?</h3>
            </div>
            <div class="modal-footer">
                <form method="post" asp-action="Delete" asp-route-id="@Model.Solicitud.SolicitudId">
                    <button type="submit" class="btn btn-eliminar">Eliminar Solitud</button>
                    <button class="btn btn-rol" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>